<div fxFlex="100" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" id="home-page-container">

  <div fxLayout="row" fxLayoutAlign="space-around stretch" id="welcome-container">
    <mat-card fxFlex="50" id="welcome-card-1" style="margin-right: 10px;">
        <mat-card-title>
            Welcome to our wine catalog!
        </mat-card-title>
        <mat-card-content>
            <p>Add a wine to the list:</p>
            <div class="add-button">
              <button mat-raised-button color="primary" (click)="addWine()" >Add wine</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="50" id="welcome-card-2">
        <mat-card-content>
          <img class="wines-img" [src]="'https://cdn.pixabay.com/photo/2018/08/17/09/44/wine-3612429_960_720.jpg'"/>
        </mat-card-content>
    </mat-card>
  </div>

  <div fxFLex="20" class="table-container">
      <mat-card>
      <mat-form-field id="table-filter-input">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Npr. Grasevina" #input>
      </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Wine name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row" > {{row.name}} </td>
          </ng-container>

          <!-- Production year Column -->
          <ng-container matColumnDef="productionYear">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Production Year </th>
            <td mat-cell *matCellDef="let row"> {{row.productionYear}} </td>
          </ng-container>

          <!-- Alchohol percetage Column -->
          <ng-container matColumnDef="alcoholPercentage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Alchohol Percentage </th>
            <td mat-cell *matCellDef="let row"> {{row.alcoholPercentage}} </td>
          </ng-container>

          <!-- Volume Column -->
          <ng-container matColumnDef="volume">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume (mL)</th>
            <td mat-cell *matCellDef="let row"> {{row.volume}} </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price (Kn)</th>
            <td mat-cell *matCellDef="let row"> {{row.price}} </td>
          </ng-container>

          <!-- pictureUrl Column -->
          <ng-container matColumnDef="pictureUrl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PictureUrl </th>
            <td mat-cell *matCellDef="let row"> <img [src]="row.pictureUrl" width="50px" height="100px"/> </td>
          </ng-container>

          <!-- Winery name Column -->
          <ng-container matColumnDef="winery">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Winery </th>
            <td mat-cell *matCellDef="let row"> {{row.winery.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editWineRedirect(row.id)"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8">No data matching the filter {{input.value}}</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card>
  </div>


</div>
