<div fxFlex="100" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" id="home-page-container">

  <div fxLayout="row" fxLayoutAlign="space-around stretch" id="welcome-container">
    <mat-card fxFlex="50" id="welcome-card-1" style="margin-right: 10px;">
        <mat-card-title>
            Welcome to the Wineries!
        </mat-card-title>
        <mat-card-content>
            <p>Add a winery to the list:</p>
            <div class="add-button">
              <button mat-raised-button color="primary" (click)="addWinery()" >Add winery</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="50" id="welcome-card-2">
        <mat-card-content>
          <img class="winery-img" [src]="'https://cdn.pixabay.com/photo/2017/02/23/15/20/bento-goncalves-2092444_960_720.jpg'"/>
        </mat-card-content>
    </mat-card>

  </div>

  <div fxFLex="20" class="table-container">
      <mat-card>
      <mat-form-field id="table-filter-input">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Npr. Milano" #input>
      </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Server Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Founding year Column -->
          <ng-container matColumnDef="foundingYear">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Founding Year </th>
            <td mat-cell *matCellDef="let row"> {{row.foundingYear}} </td>
          </ng-container>

          <!-- Region Column -->
          <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
            <td mat-cell *matCellDef="let row"> {{row.region.name}} </td>
          </ng-container>

          <!-- Delete button-->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row">
              <button mat-raised-button (click)="deleteWineryDialog(row.id)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter {{input.value}}</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card>
  </div>


</div>
